<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    <!-- String Interpolation -->
    {{a + b}}
  </h2>

  <hr >

  <!-- Property Binding: TS <= HTML -->
  <button [disabled]="!listo">Click</button>
  <!-- Event Binding: TS <= HTML -->
  <button [disabled]="!listo" (click)="hacerAlgo()">Click 2</button>
  <hr >
  <!-- Two Way Data Binding -->
<input type="text" placeholder="Nombre" [(ngModel)]="nombre" />
<input type="text" placeholder="Apellido" [(ngModel)]="apellido" />
<br>
<h1>Mi nombre es {{nombre + ' ' + apellido}}</h1>
</div>


